.tc .holder {
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto;
}

.inbox h3 {
    text-transform: uppercase;
}

.inbox {
    flex: 50%;
    box-sizing: border-box;
    background: white;
    border-right: 2em solid #f1f1f1;
    padding: 1em;
}