.form-table {
    margin-left: 2%;
}

.tc-preview {
    max-width: 70%;
    position: relative;
    padding: 12px 12px 8px 54px;
    margin: 0;
    text-align: left;
    border: 1px solid #dbdbdb;
    border-radius: 5px
}

.tc-preview .u-pullLeft {
    float: left !important
}

.tc-preview .u-pullRight {
    float: right !important
}

.tc-preview .tc-author {
    position: relative;
    margin-right: 75px;
    margin-bottom: 10px
}

.tc-preview .tc-author-name {
    margin-right: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #333
}

.tc-preview .tc-author-handle {
    padding: 0;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 12px;
    color: #999
}

.tc-preview .tc-author-avatar {
    position: absolute;
    top: 3px;
    left: -42px;
    width: 32px;
    border-radius: 4px
}

.tc-preview .tc-summary {
    display: table;
    width: 100%
}

.tc-preview .summary-content {
    width: 70%
}

.tc-preview .summary-content,
.tc-preview #summary-img-container {
    display: table-cell;
    vertical-align: top
}

.tc-preview #summary-img-container {
    max-height: 200px;
    background-size: cover;
    background-position: 50% 50%
}

.tc-preview #summary-img-container .tc-img,
.tc-preview img.summary_large_image {
    width: 100%;
    opacity: 0;
    zoom: 1;
    filter: alpha(opacity=0)
}

.tc-preview .tc-img,
.tc-preview .tc-text {
    width: 100%;
    max-height: 100%;
    display: block
}

.tc-preview .tc-domain,
.tc-preview .tc-title {
    max-height: 1.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.tc-preview .tc-title {
    font-size: 1.5em
}

.tc-preview .tc-domain {
    text-transform: lowercase;
    color: #8899A6
}

.tc-preview .tc-desc,
.tc-preview .tc-domain,
.tc-preview .tc-title {
    padding: 10px
}

.tc-preview .tc-container {
    cursor: pointer;
    outline-offset: -1px;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
    text-decoration: none;
    border-radius: .42857em;
    border: 1px solid #E1E8ED;
    box-sizing: border-box;
    color: inherit !important;
    overflow: hidden;
    padding-bottom: 1em
}

@media screen and (max-width: 1024px) {
    .form-table, .tc-preview {
        width: auto;
        margin: 1em auto
    }
}