# folders and files to be ignored by git

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/
node_modules/*
premium/node_modules/*

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

.svn

scripts/*/build
node_modules
.DS_Store
svn

build/
!.index.html

############
## Composer
############
vendor/
composer.phar

############
## WP CLI
############
wp-cli.phar

############
## Yarn
############
yarn-error.log