/**
 * Source : https://cards-dev.twitter.com/validator
   TODO: refactor...
 */

.EmbeddedTweet {
  position: relative;
  padding: 12px 12px 8px 54px;
  margin: 2em 0;
  max-width: 500px;
  border-radius: 1em;
  text-align: left;
  border: 1px solid #e1e8ed;

  .EmbeddedTweet-author-avatar {
    position: absolute;
    top: 3px;
    left: -42px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
  }

  .u-pullLeft {
    float: left !important;
  }

  .EmbeddedTweet-author-name {
    margin-right: 4px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
  }

  .EmbeddedTweet-author {
    position: relative;
    margin-right: 75px;
    margin-bottom: 10px;
  }

  .EmbeddedTweet-text {
    color: #555;
    clear: both;
  }

  .EmbeddedTweet-author-handle {
    padding: 0;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 12px;
    color: #999;
  }

  .EmbeddedTweet-text p {
    font-size: 14px !important;
    margin: 0 0 10px;
  }

  .CardPreview {
    position: relative;
  }

  .u-marginVm {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .u-marginTxl {
    margin-top: 40px !important;
  }

  .TwitterCardsGrid {
    display: block;
    position: relative;
    text-align: left;
  }

  .TwitterCard--animation {
    animation-duration: 150ms;
    animation-name: fadeInTwitterCard;
    animation-timing-function: cubic-bezier(0.9, 0, 0.9, 0);
  }

  .TwitterCard {
    background: transparent;
    overflow: hidden;
    color: #292f33;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.3em;
  }

  .TwitterCardsGrid .TwitterCardsGrid-col--spacerBottom,
  .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerBottom {
    margin-bottom: 0.32333em;
  }

  .TwitterCardsGrid .TwitterCardsGrid-col--12 {
    float: left;
    width: 100%;
    clear: both;
  }

  .TwitterCard .SummaryCard--small .SummaryCard-image {
    width: 8.81667em;
    border-right-width: 1px;
  }

  .TwitterCard .SummaryCard-image {
    background-color: #e1e8ed;
    border-radius: 1em;
    border-style: solid;
    border-color: inherit;
    border-width: 0;
  }

  .TwitterCard-container {
    border: 1px solid #e1e8ed;
    border-radius: 1em;
  }

  .summary_large_image-contentContainer .TwitterCardsGrid-float--prev {
    float: left;
  }

  .summary-content,
  .player-content {
    height: 85px;
  }

  .summary_large_image-content {
    padding-left: 1em;
    padding-bottom: 1em;
  }

  .summary--small,
  .player--small {
    margin-bottom: -5px;
  }

  .summary-contentContainer .TwitterCard-title,
  .summary-contentContainer .TwitterCard-desc,
  .player-contentContainer .TwitterCard-title,
  .player-contentContainer .TwitterCard-desc {
    text-align: left;
    padding-left: 32%;
  }

  .TwitterCard-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .TwitterCard-desc,
  .TwitterCard-title {
    font-size: 12px !important;
    margin: 0.2em auto !important;
  }

  .TwitterCard .SummaryCard-content {
    padding: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
  }

  .TwitterCard .SummaryCard-content .TwitterCard-title {
    max-height: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tcu-imageWrapper {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .summary-image .tcu-imageWrapper,
  .player-image .tcu-imageWrapper {
    width: 30%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  .summary_large_image-image .tcu-imageWrapper {
    position: relative;
    background-image: none !important;
    width: 100%;
  }

  .summary-image img.u-block,
  .player-image img.u-block {
    display: none;
  }

  .summary_large_image-image,
  .summary_large_image .tcu-imageWrapper {
    overflow: hidden;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin: 0;
  }

  .summary_large_image-image img {
    display: block;
    width: 500px;
    height: 200px;
    object-fit: cover; /* kinda or completely hack, I have a bad legacy with image url */
    background-color: #8899a6;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .SummaryCard-destination {
    text-transform: lowercase;
    display: block;
    color: #8899a6;
    max-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .PlayerCard-playButton {
    z-index: 73;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
