/* Styles in admin  */

.wrap { 
    font-family: Georgia, Times, "Times New Roman", serif;	
}

.wrap h2 {
	font-size: 300%;
}

.wrap .inbl{ display:inline-block; vertical-align:top; margin-right: 2em; }

.wrap h2:before {
	content:"\f301";
	display: inline-block;
	width: 42px;
	height: 42px;
	margin-right: .5em;
	margin-left: 40px;
	line-height: 1;
	font-family: "dashicons";
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	text-align: center;
	-webkit-transition: color .1s ease-in 0;
	transition: color .1s ease-in 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrap .cmb-form, .wrap p, 
.wrap h4, .wrap h3, .wrap ul,
.wrap img, .wrap pre {
	padding: 0.25em 40px;
}

.wrap .quote-doc{

	padding-left: 2em;
}

.wrap .decal {
	padding: 0.25em 40px .25em 0;
}

.wrap .bold {  
	font-weight: 900;
	font-size: 400%;
	line-height: 1.1;
	letter-spacing: -1px;
	margin-bottom:6px;	
}

.wrap .sub-bold {
	font-size: 32px;
	font-weight: normal;
	width: 396px;
}

.wrap .card-desc{
	width:400px;
	font-size:100%;
	line-height:180%;
}

.wrap .doc-valid{
	padding: 0.25em 40px;
	margin: 3.25em 0 1.25em;

}

.wrap blockquote{ 
	border:none; 
	font-family: Georgia, serif;  
	font-style: italic; 
	margin: 0.25em 0; 
	padding: 0.25em 40px .25em 0; 
	line-height: 160%; 
	position: relative; 
	display:block;
	color:#888; 
	background:transparent; 
}

.wrap blockquote:before{ 
	display: block; 
	content: "\201C"; 
	font-size: 80px; 
	position: absolute; 
	top: 60px; 
	color:#888; 
}

.wrap blockquote.about:before{ 
	font-size:40px;
	top:-5px;
}

.wrap .quote-doc:before{
	content:"";
}

.plugin-desc { 
	font-size: 1rem; 
	margin: 0.25em 0; 
	padding: 0.25em 40px;
}

.wrap .dashicons-twitter {  
	font-size:2em; 
	margin-right:1em; 
	color:#292F33; 
}

.wrap pre {
	width: 92%;
	overflow: auto;
	margin: 2rem 0 2rem 40px;
	padding: 1rem 0.8rem 1rem 1.2rem;
	color: #3f3b36;
	border: 1px solid #f00ACEE;
	border-left: 1rem solid #00ACEE;
	font: lighter 1rem/1.5rem Monaco,'MonacoRegular',monospace;
	background-size: 1px 4rem;
}

.wrap .nav-tab-wrapper li { 
	display:inline-block;
}


.wrap figcaption{
	text-align:center;
}


.wrap .preview-tuto {
	position:relative;
	border:1px solid #ddd;
}

.wrap .preview-tuto:before {
	position:absolute;
	text-decoration:none;
	color:black;
	top:50px;
	left:50%;
}

.totheleft{
	float:left;
}

.totheright{
	float:right;
}

.visually-hidden{
	border: 0; clip: rect(0 0 0 0);
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px;
}


.social-links li{
	width:50px;
}
.social.dashicons-before:before{
	padding: .2em;
}

.social.dashicons-before.dashicons-twitter{
	background:#55ACEE;
	color:#fff;
}

.social.dashicons-before.dashicons-googleplus{
	background:#DD4B39;
	color:#fff;
}

.plugins-list{
	-webkit-columns: 3;
	-moz-columns: 3;
	columns: 3;
}
.plugins-list li .button{
	width:200px;
	text-align: center;
}