/*
* STYLES FOR DOCUMENTATION
* Author: Julien Maury
* Author URI: http://www.tweetpress.fr
*/
.html { background: #eee; font-size: 100%; margin-top:2em; }
.body { max-width: 772px; padding:1em 2em; font-family: Georgia, Times, "Times New Roman", serif; font-size:100%; line-height: 150%;
color: #444; font-size: 1; background: #fff; box-shadow: 0 0 3px rgba(0,0,0,0.3); }
.body blockquote{ border:none; font-family: Georgia, serif;  font-style: italic; margin: 1.25em 0; padding: 0.25em 40px; line-height: 160%; position: relative; color:#888; background:transparent; }
.body blockquote:before{ display: block; content: "\201C"; font-size: 80px; position: absolute; left: -5px; top: 30px; color:#888; }
.body p { max-width: 650px; }
.body img { border:1px solid #ccc; max-width:700px; }
.body .right { text-align:right; }
.body .pa1 { padding:1em; }
.body a { color: #00ACED; }
.body h1 { margin-top:1.7em; margin-bottom:.7em; }
.body h2 { margin-top: 1.5em; padding-top: 1em; border-top: 1px solid #eee; font-size: 2em; font-weight:normal; }
.body .author { width: 40%; margin: 0 0 .9em .9em; background: #eee; border: 1px solid #ddd; padding: 20px; font-size: 0.8em; overflow: hidden; }
.body ul {padding: 0;list-style-type: none;}
.body ul li ul{padding-left: 2em;list-style-type: none;}
.body .author img { float: left; margin-top: 5px; margin-right: 20px; }
.body .mess-customer { float:left; }
.body .bold { border: 1px solid darkred; display:inline-block; color: #444; padding: 12px; background: #FFEBE8; }
.body pre { white-space: pre-wrap; background-color:#FFFFE0; padding:1em; border-left:5px solid #ccc; width: 740px; margin:1em 0; width: 95%; }
.body .btn { text-decoration: none; text-shadow: 0 1px 0 #fff; font: bold 11px Helvetica, Arial, sans-serif; color: #444; line-height: 17px; height: 18px; display: inline-block; float: left; margin: 5px; padding: 5px 6px 4px 6px; background: #F3F3F3; border: solid 1px #D9D9D9; border-radius: 2px; -webkit-border-radius: 2px; transition: border-color .20s; height: 29px !important; cursor: pointer; }
.body .btn:hover { background: #F4F4F4; border-color: #C0C0C0; color: #333;  }
.body .btn:active { border-color: #4D90FE; color: #4D90FE; -moz-box-shadow:inset 0 0 10px #D4D4D4; -webkit-box-shadow:inset 0 0 10px #D4D4D4; box-shadow:inset 0 0 10px #D4D4D4; }
.body .footer { padding: 1em; border-top:1px solid #ddd; }