/* Styles in admin  */
.fake-twt {
    display: block;
    float: left;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-top-color: #eee;
    border-bottom-color: #bbb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15)
}

.hide {
    display: none
}

.gallery-meta-container {
    float: left;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-pack: start;
    -webkit-box-align: stretch;
    -webkit-box-orient: vertical
}

.tile {
    -webkit-box-flex: 1;
    width: 50%;
    height: 50%;
}

.e-content div {
    margin: 1em 0
}

.bigger {
    font-size: 1.2em
}

.product-view, .summary-image {
    float: right
}

.product-view span {
    display: block;
    margin: .4em 0
}

.gray {
    padding: .6em;
    background: #eee;
    text-align: center;
    width: 90%;
    margin: 1em auto
}

.bg-opacity {
    opacity: .1
}