@charset "utf-8";

/*
** Styles for admin - inspired by design made by @wabbaly
*/

.jm-tc .hide {
	display:none;
}

.jm-tc .notification {
	font-size:12px;
	font-weight:bold;
	background-color: #eaeff2;
	padding:1em;
	text-align:center;
}

.jm-tc .form-loading { 
	background-positon: center top;
	background-repeat: no-repeat; 
	text-align:center; 
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	float:right;
	height:3em;
	margin-top:1.5em;
}
.jm-tc .form-loading .text-loading{
	margin-left:2.5em;
	color:#00bbf0;
}

.jm-tc, .jm-tc em, .jm-tc .postbox ul {
	background-color: #eaeff2;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:160%;
}

.jm-tc .center {
	text-align:center;
}

.jm-tc .box {
	color: #000;
	padding:.5em;
}

.jm-tc .white {color:#ffffff;}

.jm-tc .plugin-desc {
	font-size: 13px;
	line-height: 20px;
	padding: 5px 20px 5px 5px; 
	color: #000;
}

.jm-tc h1 i{
  font-size:1em;
  margin-right:.8em;
}

.jm-tc .va-bottom{
 vertical-align:bottom;
}

.jm-tc .link a,
.jm-tc .link-like {
	text-decoration:none;
	font-weight:600;
	color: #00bbf0;
}

.jm-tc .link-like {
	margin-right:.3em;
}

.jm-tc .link a:hover, .jm-tc .link a:focus {
	text-decoration:underline;
}

.jm-tc .header a:hover,.jm-tc .header a:focus {
  color:#444;
}

.jm-tc h1 {
	font-size:2.2em;
}
.jm-tc h2 {
	font-size: 1.5em;
}

.jm-tc h2,.jm-tc p {
	line-height:160%;
}

.jm-tc label, .jm-tc input {  
	display:inline-block;
}

.jm-tc input, .jm-tc select, .jm-tc textarea { 
	padding:.3em; 
	background:#EAEFF2;
}

.jm-tc label {
	color:#444;
	display:block;
}

.jm-tc .submit {
	display:inline-block;
	cursor:pointer;
	border-top: 1px solid #5dade2;
	background: #5dade2;
	background: -webkit-gradient(linear, left top, left bottom, from(#5dade2), to(#5dade2));
	background: -webkit-linear-gradient(top, #5dade2, #5dade2);
	background: -moz-linear-gradient(top, #5dade2, #5dade2);
	background: -ms-linear-gradient(top, #5dade2, #5dade2);
	background: -o-linear-gradient(top, #5dade2, #5dade2);
	padding: 15px 22px;
	line-height:4px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #ffffff;
	font-size: 12px;
	text-decoration: none;
	vertical-align: middle;
	text-transform:uppercase;
	border:none;
}

.jm-tc .submit:hover,
.jm-tc .submit:focus {
	border-top-color: #258ace;
	background: #00BBF0;
	color: #ffffff;
	text-decoration:none;
	border:none;
}
.jm-tc .submit:active {
	border-top-color: #258ace;
	background: #00BBF0;
	color: #ffffff;
	border:none;
}

.jm-tc .hndle {
	color: #00bbf0;
}

.jm-tc .styled-select {
  display: block;
  float: none;
  margin-left: 0;
  width: auto;
   }

.jm-tc .postbox {
	margin:0 0 .5em 0;
	padding:1em;
	border:none;
	
}

.jm-tc .column {
	display:inline-block; 
	vertical-align:top;
	padding:1em;
}

.jm-tc .column-1 {
	 background-color: #00bbf0; 
	 height: 100%;
	 width: 300px;
	 margin-bottom: 5px;
	 position:fixed;
}

.jm-tc .column-2{
	width: 600px;
	margin-left:320px; 
	padding-top:0;
}


@media screen and (max-width: 960px) { /* some RWD rules to prevent options from being unreachable */
	.jm-tc .column {
		display:block;
	}
	.jm-tc .column-1,.jm-tc .column-2 {
		position:relative;
		width:100%;
		margin-left:0;
		padding:0;
	}
}